{
  "semi": true,
  "singleQuote": true,
  "printWidth": 150,
  "trailingComma": "none",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true
}
